<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>国泰</title>
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./lib/mui.min.css">
    <script src="./lib/mui.min.js"></script>
    <script src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">

        <!-- 轮播主图 -->
        <div class="mui-slider">
            <div class="mui-slider-group slider">
                <div class="mui-slider-item slider-bg" v-for="item in slider" :key="item">
                    <img :src="item" />
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div :class="index == 0 ? 'mui-active mui-indicator':' mui-indicator'" v-for="(item, index) in slider" :key="item"></div>
            </div>
        </div>

        <!-- ad -->
        <div class="index-ad">
            <img src="./assets/images/index-p1.jpg" />
        </div>

        <!-- 分类 -->
        <div class="index-classly">
            <ul>
                <li><a href="./mall.html">商城</a></li>
                <li><a href="./product.html">产品中心</a></li>
                <li><a href="./activity-net.html">活动网</a></li>
                <li>服务指南</li>
            </ul>
            <ul>
                <li>自助服务</li>
                <li><a href="./about.html">关于国泰</a></li>
                <li><a href="./konwledga.html">保险学院</a></li>
                <li><a href="./list.html">新闻中心</a></li>
            </ul>
        </div>

        <!-- 保险模块 -->
        <div class="index-insurance">
            <a href="./konwledga.html" class="index-insurance__item">
                <div class="mui-card">
                    <div class="mui-card-header">
                        <p class="index-Accident">综合意外险</p>
                    </div>
                    <div class="mui-card-content">
                        <p class="index-insurance-bg index-bg1"></p>
                    </div>
                    <div class="mui-card-footer">最简单、最实在的综合意外保障计划，用最低的保费获得意外身故与意外伤残保障，让您轻松抵御各种意外风险。</div>
                </div>
            </a>

            <a href="./konwledga.html" class="index-insurance__item">
                <div class="mui-card">
                    <div class="mui-card-header">
                        <p class="index-Accident index-icon2">投资理财险</p>
                    </div>
                    <div class="mui-card-content">
                        <p class="index-insurance-bg index-bg2"></p>
                    </div>
                    <div class="mui-card-footer">国泰货币型投资账户、国泰平衡型投资账户、国泰增长型投资账户。</div>
                </div>
            </a>

            <a href="./konwledga.html" class="index-insurance__item">
                <div class="mui-card">
                    <div class="mui-card-header">
                        <p class="index-Accident index-icon3">旅行平安险</p>
                    </div>
                    <div class="mui-card-content">
                        <p class="index-insurance-bg index-bg3"></p>
                    </div>
                    <div class="mui-card-footer">专为境内旅游客户精心设计！提供意外、医疗及境内紧急救援保障，您还可根据自身需要自由选择保障项目和保险期间，完全满足您旅游的需要！</div>
                </div>
            </a>

            <a href="./konwledga.html" class="index-insurance__item">
                <div class="mui-card">
                    <div class="mui-card-header">
                        <p class="index-Accident index-icon4">交互意外险</p>
                    </div>
                    <div class="mui-card-content">
                        <p class="index-insurance-bg index-bg4"></p>
                    </div>
                    <div class="mui-card-footer">最简单、最实在的综合意外保障计划，用最低的保费获得意外身故与意外伤残保障，让您轻松抵御各种意外风险。</div>
                </div>
            </a>
            
        </div>

        <!-- nomore -->
        <div class="no-more">
            <i></i>
            <span>没有更多了</span>
            <i></i>
        </div>

        
        <!-- nav -->
        <p class="gt-hei"></p>
        <nav-component></nav-component>
    </div>
    
</body>

<script type="module">
    import nav from './components/nav.js'
    new Vue({ 
        el: '#app',
        components: {
            'nav-component': {
                template: nav()
            }
        },
        data(){
            return {
                slider: [
                    './assets/images/banner-3.jpg',
                    './assets/images/banner-4.jpg',
                    './assets/images/banner-5.jpg',
                ]
            }
        }
    })
</script>
</html>