/* index */
.banner {
    width: 100%;
    height: 402px;
    border-bottom: 6px solid #ccc;
    background: #ef4949;
}

.banner img {
    width: 100%;
    height: 100%;
}

.gt-ad {
    width: 100%;
    background: url(../images/index-p1.jpg) no-repeat;
    height: 181px;
    margin-top: 15px;
    border: 1px solid #ccc;
}

.gt-main__item {
    width: 100%;
    margin-top: 15px;
}

.gt-title {
    display: flex;
    height: 60px;
    font-size: 20px;
    color: #00994b;
}

.gt-pro-icon {
    background: url(../images/menu-icon.png) no-repeat;
    display: flex;
    align-items: center;
}

.gt-icon--bg1 {
    background-position: -10px -15px;
}

.gt-icon--bg2 {
    background-position: -10px -112px;
}

.gt-icon--bg3 {
    background-position: -10px -213px;
}

.gt-icon--bg4 {
    background-position: -10px -316px;
}

.gt-tit1 {
    flex: 2;
    text-indent: 55px;
}

.gt-tit2 {
    flex: 1;
    text-indent: 55px;
}

.gt-about {
    border: 1px solid #ccc;
    display: flex;
    height: 252px;
}

.gt-pro1 {
    position: relative;
    border-right: 1px solid #ccc;
    flex: 2;
}

.gt-pro2 {
    position: relative;
    flex: 1;
}

.gt-pro-padd {
    padding: 12px 18px 52px;
}

.gt-pro1-tit {
    width: 70%;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.gt-pro1-cont {
    width: 60%;
    line-height: 20px;
    color: #999;
    height: 160px;
}

.gt-pro1-price {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

.gt-pro1-price p {
    color: #2f80bf;
}

.gt-pro1-price .big {
    font-size: 18px;
}

.gt-pro1-price i {
    margin-left: 10px;
    text-decoration: line-through;
    font-style: normal;
}

.gt-index-bg {
    background: url(../images/index-p2.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.gt-pro-re {
    position: relative;
}

.gt-pro3 {
    display: flex;
}

.gt-bg1 {
    width: 261px;
    height: 242px;
    background-position: 0 -11px;
}
.gt-bg2 {
    width: 186px;
    height: 252px;
    background-position: 0 -269px;
}
.gt-bg3 {
    width: 216px;
    height: 191px;
    background-position: -334px -212px;
}
.gt-bg4 {
    width: 195px;
    height: 189px;
    background-position: -355px 10px;
}
.gt-bg5 {
    width: 123px;
    height: 163px;
    background-position: 0 -556px;
}
.gt-bg6 {
    width: 151px;
    height: 142px;
    background-position: -156px -560px;
}
.gt-bg7 {
    width: 151px;
    height: 164px;
    background-position: -333px -560px;
}

.gt-qq {
    position: fixed;
    right: 0;
    top: 220px;
    z-index: 9999;
    background: url(../images/gt-icon.jpg) no-repeat right top;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
}