/* product */
.guarantee {
    width: 100%;
}

.guarantee li {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guarantee-pagecoade {
    margin-top: 15px;
    text-align: right;
}

.product ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.product ul li {
    display: flex;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product li img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.product li h4 {
    color: #00994b;
    font-size: 16px;
}

.product li h4,
.product li p {
    margin-bottom: 15px;
}

.product li a {
    border: 1px solid #00994b;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 6px;
    display: block;
    background: #00994b;
}

.sub-nav a {
    width: 120px;
}