/* user */
.user {
    width: 100%;
}

.user ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user li {
    width: 300px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    margin-bottom: 20px;
}

.user li:hover {
    background: #eee;
}

.user li h4 {
    font-size: 16px;
    color: #00994b;
    margin-bottom: 10px;
}

.user li p {
    color: #999;
    margin-bottom: 10px;
}

.user li img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.myuser {
    display: flex;
}

.voucher {
    width: 100%;
}

.voucher ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.voucher li {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: #FC6565;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.voucher li p {
    margin-bottom: 6px;
}

.voucher-price {
    font-size: 40px;
    margin-bottom: 20px;
}

.voucher-icon {
    font-size: 16px;
}

.voucher li i {
    font-style: normal;
    position: absolute;
    left: 42px;
    top: 32px;
    font-size: 14px;
}

.help {
    padding: 20px;
}

.help h4 {
    font-size: 16px;
    color: #00994b;
    margin-bottom: 10px;
}

.help p {
    line-height: 24px;
}

.user-account {
    width: 450px;
}

.user-order {
    position: relative;
}

.user-order .link-1 {
    position: absolute;
    left: 318px;
    top: 306px;
    background: rgba(0, 0, 0, 0);
    width: 92px;
    height: 36px;
}