/* main */
.slider {
    width: 100%;
    height: 180px;
    color: #fff;
    text-align: center;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slider-bg {
    font-size: 30px!important;
    line-height: 150px;
    background: #00994b;
}

.index-ad {
    width: 100%;
    height: 120px;
    background: #fff;
    margin-top: 8px;
}

.index-ad img {
    width: 100%;
    height: 100%;
}

.index-classly {
    margin-top: 8px;
    background: #fff;
    padding: 10px 8px;
}

.index-classly ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.index-classly li {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 70px;
    height: 70px;
    background: #eee;
    color: #00994b;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.index-classly a {
    color: #00994b;
}

.index-insurance {
    margin: 8px 6px;
}

.index-Accident {
    background: url('../images/menu-icon.png') no-repeat -10px -18px;
    background-size: 40%;
    font-size: 18px;
    color: #00994b;
    height: 30px;
    display: flex;
    align-items: center;
    text-indent: 34px;
    margin-bottom: 0;
}

.index-icon2 {
    background-position: -10px -94px;
}

.index-icon3 {
    background-position: -10px -166px;
}

.index-icon4 {
    background-position: -10px -243px;
}

.index-insurance-bg {
    background: url(../images/index-p2.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 120px;
}

.index-bg1 {
    background-position: 116px -35px;
}

.index-bg2 {
    background-position: 130px -210px;
}

.index-bg3 {
    background-position: -132px -137px;
}

.index-bg4 {
    background-position: 17px -336px;
}


.index-insurance__item {
    display: block;
    margin-bottom: 8px;
}

/* konwledga */
.konwledga {
    margin: 8px;
}
.konwledga-list {
    background: #fff;
}
.konwledga-list > div {
    border-bottom: 1px solid #ccc;
}

/* list */
.list {
    margin: 8px;
    background: #fff;
}

.list li {
    height: 60px;
    border-bottom: 1px dashed #ccc;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li:last-child {
    border: 0 none;
}

.list li a {
    color: #333;
}


/* detail */
.detail {
    padding: 15px 8px;
    background: #fff;
}

.detail h4 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.detail p {
    font-size: 14px;
    line-height: 30px;
    color: #666;
    text-align: justify;
}

/* product */
.product {
    padding: 10px 8px;
    background: #fff;
}

.product .mui-card-header.mui-card-media {
    padding: 20px 0;
}

.product .mui-card-header.mui-card-media .mui-media-body {
    font-size: 16px;
}

.product .mui-card-header.mui-card-media .mui-media-body p {
    font-size: 14px;
}

.product .mui-card-header>img:first-child {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

/* home */
.home-lg {
    width: 100%;
    height: 118px;
    background: #00994b;
    display: flex;
    align-items: center;
}

.home-lg a {
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: #fff;
}

.home-lg-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-lg-img i {
    color: #ddd;
    font-size: 40px;
}

.home-lg-txt {
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
}

.home-ad {
    display: flex;
    height: 60px;
    margin: 8px;
}

.home-ad img {
    width: 100%;
}

.home-main {
    margin: 0 8px;
    background: #fff;
}

.home-main h4 {
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 18px;
    text-indent: 10px;
}

/* login */
.gt-topnav .nav-regist {
    position: absolute;
    right: 8px;
    top: 20px;
    font-size: 18px;
    color: #fff;
}

.login  {
    padding-bottom:  30px;
    background: #fff;
}

.login .mui-input-row span {
    display: none;
}

.login-btn {
    width: 96%;
    margin: 0 2%;
    margin-top: 20px;
    height: 60px;
    font-size: 18px!important;
}

.regist-btn {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #ccc;
    height: 40px;
}

.login .mui-input-group .mui-input-row {
    height: 60px;
    display: flex;
    align-items: center;
}

/* message */
.mgs {
    margin: 8px;
    padding: 15px 0;
    background: #fff;
    font-size: 16px;
}

/* help */
.help {
    margin: 8px;
    background: #fff;
    padding: 20px;
}

.help li {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.help li a {
    color: #00994b;
}

/* about */
.about {
    background: #fff;
    padding: 15px 8px;
    line-height: 30px;
    text-align: justify;
}

.about h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.about p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* order */
.order {
    margin: 8px;
    background: #fff;
}

/* voucher */
.voucher {
    background: #fff;
    margin: 10px 8px;
}

/* activity */
.activity {
    margin-top: 8px;
    padding: 8px;
    background: #fff;
}

.activity img {
    width: 100%;
    height: 100%;
}

/* mall */
.mall {
    margin-top: 8px;
    padding: 10px;
    background: #fff;
}

/* problem */
.problem {
    padding: 10px;
    margin-top: 8px;
    background: #fff;
}

/* vip */
.vip-img img {
    width: 100%;
    height: 100%;
}

.accident li {
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.accident li img {
    width: 100%;
}

.accident li h4 {
    color: #00994b;
    font-size: 16px;
}

.accident li p {
    font-size: 14px;
}