<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城-服务指南</title>
    <link rel="stylesheet" href="../../assets/css/common/common.css">
    <link rel="stylesheet" href="../../assets/css/mall.css">
    <link rel="stylesheet" href="../../libs/element-ui.css">
    <script src="../../libs/vue.js"></script>
    <script src="../../libs/element-ui.js"></script>
</head>
<body>
    <div id="app">
        <!-- head -->
        <head-component></head-component>

        <!-- main -->
        <div class="main gt-flex mar15">
            <!-- 子导航 -->
            <nav-component></nav-component>
            
            <div class="box-right">

                <div class="banner2">
                    <el-carousel arrow="always" :autoplay="false" height="320px">
                        <el-carousel-item v-for="item in banner" :keys="item">
                            <image :src="item"></image>
                        </el-carousel-item>
                    </el-carousel>
                </div>

                <div class="mar15">
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item><a href='../../index.html'>首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item>商城</el-breadcrumb-item>
                        <el-breadcrumb-item>服务指南</el-breadcrumb-item>
                        <el-breadcrumb-item>常见问题</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>

                <div class="mar15 gt-public-box">
                    <p class="gt-public-title">常见问题</p>
                    <div class="gt-public-padd">
                        <div class="problem">
                            <el-collapse v-model="activeNames" v-for="(item, index) in list" :keys="item">
                                <el-collapse-item :title="item.name" :name="index">
                                    <div>{{item.content}}</div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- foot -->
        <foot-component></foot-component>
    </div>
</body>

<script type="module">
    import herader from '../../components/header.js'
    import foot from '../../components/footer.js'
    import { mall } from '../../components/sub-nav.js'
    new Vue({ 
        el: '#app', 
        components: {
            'head-component': {
                template: herader()
            },
            'foot-component': {
                template: foot()
            },
            'nav-component': {
                template: mall()
            }
        },
        data() { 
            return {
                banner: [
                    '../../assets/images/2019shaoerji_banner.jpg', 
                    '../../assets/images/2019shaoerji_banner.jpg', 
                    '../../assets/images/2019shaoerji_banner.jpg'
                ],
                list: [
                    {
                        name: 'Q:你们公司的网上投保有什么特色？',
                        content: 'A:我司网上保险产品具有价格低（比市场价优惠更多，意外险1元起）、理赔快（小额案件，资料齐全即刻赔付）、产品贴心（选择自由，功能全面）的三大特色。'
                    },
                    {
                        name: 'Q:如何获得保单？',
                        content: 'A:网上投保成功后您可以登录会员账户，点击“我的保单”查看或打印电子保单；电子保单具有和纸质保单一样的法律效力；综合意外、交通意外和旅行平安三类短期意外险暂不能提供纸质保单，如需使用请自行打印电子保单。'
                    },
                    {
                        name: 'Q:你们公司的网上投保有什么特色？',
                        content: 'A:我司网上保险产品具有价格低（比市场价优惠更多，意外险1元起）、理赔快（小额案件，资料齐全即刻赔付）、产品贴心（选择自由，功能全面）的三大特色。'
                    },
                    {
                        name: 'Q:如何获得保单？',
                        content: 'A:网上投保成功后您可以登录会员账户，点击“我的保单”查看或打印电子保单；电子保单具有和纸质保单一样的法律效力；综合意外、交通意外和旅行平安三类短期意外险暂不能提供纸质保单，如需使用请自行打印电子保单。'
                    },
                    {
                        name: 'Q:你们公司的网上投保有什么特色？',
                        content: 'A:我司网上保险产品具有价格低（比市场价优惠更多，意外险1元起）、理赔快（小额案件，资料齐全即刻赔付）、产品贴心（选择自由，功能全面）的三大特色。'
                    },
                    {
                        name: 'Q:如何获得保单？',
                        content: 'A:网上投保成功后您可以登录会员账户，点击“我的保单”查看或打印电子保单；电子保单具有和纸质保单一样的法律效力；综合意外、交通意外和旅行平安三类短期意外险暂不能提供纸质保单，如需使用请自行打印电子保单。'
                    },
                    {
                        name: 'Q:你们公司的网上投保有什么特色？',
                        content: 'A:我司网上保险产品具有价格低（比市场价优惠更多，意外险1元起）、理赔快（小额案件，资料齐全即刻赔付）、产品贴心（选择自由，功能全面）的三大特色。'
                    },
                    {
                        name: 'Q:如何获得保单？',
                        content: 'A:网上投保成功后您可以登录会员账户，点击“我的保单”查看或打印电子保单；电子保单具有和纸质保单一样的法律效力；综合意外、交通意外和旅行平安三类短期意外险暂不能提供纸质保单，如需使用请自行打印电子保单。'
                    }
                ]
            } 
        } 
    })
</script>
</html>