* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #00994b;
}

html,
body {
    font-family: "microsoft yahei";
    font-size: 12px;
    color: #666;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.gt-head {
    position: relative;
    width: 100%;
    height: 193px;
}

/* head */

.head {
    width: 100%;
    background: #fff;
}

.head-nav {
    width: 100%;
    height: 50px;
    background: #f1f1f1;
}

.head-list {
    position: relative;
    font-size: 14px;
}

.head-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

.head-list li {
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #a6a6a6;
}

.head-list li:first-child a {
    color: #00994b;
}

.head-list li:last-child {
    border: 0 none;
}

.head-lg {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.head-logo {
    background: url(../../images/logo.jpg) no-repeat;
    width: 367px;
    height: 50px;
}

.head-serach {
    display: flex;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    height: 50px;
    align-items: center;
}

.head-serach input {
    font-size: 16px;
    width: 543px;
    height: 50px;
    border: 0 none;
    outline: 0 none;
    border-radius: 4px;
    text-indent: 10px;
}

.head-serach i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    border-left: 1px solid #c1c1c1;
    font-size: 24px;
}

.head-menu {
    width: 100%;
    height: 52px;
    border-bottom: 6px solid #00994b;
}

.head-menulist {
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.head-menulist p a {
    padding: 0 33px;
    line-height: 52px;
    display: block;
}

.head-menulist p a:hover,
.head-menulist p a.active {
    background: #00994b;
    color: #fff;
}
.menu-nav {
    position: relative;
    height: 402px;
}

.menu-nav-list {
    position: absolute;
    left: 0px;
    top: 58px;
    z-index: 9;
    width: 242px;
    background: #fff;
    height: 402px;
    border-bottom: 6px solid #00994b;
    box-shadow: 6px 0 rgba(0, 0, 0, .5);
}

.menu-nav-list li {
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.menu-nav-box {
    background: url(../../images/menu-icon.png) no-repeat 0 0;
    height: 86px;
    padding-left: 86px;
    margin-right: 20px;
}

.menu-nav-box a {
    display: block;
}

.menu-icon {
    margin-right: 12px;
    font-size: 22px;
}

.menu-link1 {
    font-size: 18px;
    color: #00994b;
    display: block;
    margin-top: 20px;
}
.menu-link2 {
    font-size: 14px;
}

.menu-all {
    text-align: center;
    line-height: 60px;
}

.menu-bg2 {
    background-position: 0 -97px;
}

.menu-bg3 {
    background-position: 0 -198px;
}

.menu-bg4 {
    background-position: 0 -301px;
}

/* banner */
.banner2 {
    width: 100%;
    height: 320px;
}

.banner2 img {
    width: 100%;
    height: 100%;
}

/* footer */
.footer {
    width: 100%;
    height: 192px;
    background: #f3f4f5;
    margin-top: 15px;
    padding-top: 40px;
}

.foot-box {
    display: flex;
}

.foot-nav {
    padding-right: 82px;
}

.foot-nav-link {
    margin-bottom: 20px;
}

.foot-nav-link a {
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding: 0 12px;
}

.foot-nav-link a:first-child {
    border-left: 0 none;
    padding-left: 0;
}

.foot-nav-msg p {
    line-height: 24px;
}

.foot-line {
    width: 1px;
    height: 105px;
    background: #ccc;
}

.foot-tel {
    padding: 0 52px;
}

.foot-tel-p {
    font-size: 14px;
}

.foot-erweima {
    padding-left: 62px;
}

.foot-erweima-p {
    font-size: 14px;
    margin-bottom: 20px;
}

.foot-tel-box {
    margin-top: 20px;
    background: url(../../images/tel.jpg) no-repeat;
    padding-left: 62px;
    font-size: 16px;
}
.foot-tel-box p {
    line-height: 28px;
}
.foot-erweima-pic {
    background: url(../../images/erweima.jpg) no-repeat;
    width: 110px;
    height: 110px;
}

.gt-flex {
    display: flex;
    justify-content: space-between;
}

.mar15 {
    margin-top: 15px;
}

.sub-nav {
    width: 324px;
}

.sub-nav a {
    display: block;
}

.box-right {
    width: 856px;
}

.gt-public-box {
    border: 1px solid #ccc;
}

.gt-public-title {
    height: 50px;
    display: flex;
    align-items: center;
    background: #00994b;
    color: #fff;
    font-size: 16px;
    text-indent: 20px;
}


.gt-public-padd {
    padding: 15px;
}